<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReDoS</title>
  </head>
  <body>

    <h1>ReDoS: Why you should sanatize regex</h1>

    <form action="/validate-email" method="POST">
      <h2>Validate email</h2>
      <label for="validateEmail">Email</label>
      <input type="text" placeholder="Enter an email to validate" id="validateEmail" name="email" />
      <input type="submit" value="Submit" />
    </form>

    <br />
    <hr />
    <br />

    <form action="/search-for-email" method="POST">
      <h2>Search for email in DB</h2>
      <label for="searchEmail">Email</label>
      <input type="text" placeholder="Enter an email to search for it" id="searchEmail" name="email" autofocus />
      <input type="submit" value="Submit" />
    </form>

  </body>
</html>
