{{> header }}

<div class="validate-response-wrapper">
  <div class="validate-response validate-response--{{ response }}">
    The entered email is <span class="result">{{ response }}</span>.
  </div>
</div>

{{> footer }}
